.wrapper {
    min-height: 115px;
    // border: 1px solid blue;
    display: flex;
    align-items: center;

    .inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        .head {
            font-weight: 600;
            font-size: 28px;
            line-height: 38px;
            color: var(--blue);
        }
        .body {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            margin-left: -10px;
            margin-right: -10px;
            .item {
                margin: 0 10px;
            }
        }
    }
}