.wrapper {

    .item {
        padding: 10px 20px;
        border-bottom: 1px solid #F4F4F4;
        white-space: nowrap;
    }

    &:last-child {
        .item {
            border: none
        }
    }
}