

.sidebar.hidden {
    width: 105px;
    .toggle {
        transform: rotate(180deg);
    }

    div[data-link], a[data-link] {
        &:hover {
            background-color: #fff;
        }
    }

    .wrapper {
        width: 105px;

        .logo {
            
            .img {
                max-width: 35px;
                max-height: 35px;
            }
        }

        .close {
            display: none;
        }

        .body {
            

            .soc {
                flex-direction: column;
                padding-left: 0;
                margin-left: 0;

                .item {
                    margin: 0;
                    margin-bottom: 10px;
                }
            }

        }

        .action {

        }
    }
}

.sidebar {
    width: 250px;
    flex: 0 0 auto;
    position: relative;
    transition: all .3s ease;
    height: 100vh;


    .toggle {
        position: absolute;
        top: 100px;
        right: -10px;
        width: 20px;
        height: 20px;
        border-radius: 100%;
        display: flex;
        align-items: center;
        border: 2px solid var(--blue);
        justify-content: center;
        color: var(--blue);
        font-size: 12px;
        line-height: 12px;
        z-index: 100;
        transition: all .3s ease;
        background-color: #fff;
        

        .icon {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-right: 1.5px;
        }
    }
}

.wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    // border: 1px solid red;
    z-index: 10;
    border-right: 2px solid #F4F4F4;
    // background-color: #fff;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    transition: all .3s ease;
    

    .logo {
        min-height: 115px;
        display: flex;
        align-items: center;
        justify-content: center;

        .img {
            max-width: 122px;
            max-height: 30px;
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: flex;
        }
    }

    .close {
        display: none;
    }

    .body {

        .list {
            padding: 35px 0;
            // border: 1px solid red;
        }

        .soc {
            display: flex;
            align-items: center;
            margin-left: -5px;
            
            padding: 0 0 0 40px;

            .item {
                width: 30px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                border: 1px solid #F4F4F4;
                transition: all .3s ease;
                border-radius: 100%;
                margin: 0 5px;
                &:hover {
                    border-color: var(--blue);
                }

                .img {
                    max-width: 15px;
                    max-height: 15px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: flex;
                }
            }
            
        }
    }

    .action {
        flex: 1 0 auto;
        padding: 50px 20px;
        display: flex;
        align-items: flex-end;
        justify-content: center;

        .action_item {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        // .balance {
        //     display: none;
        // }

        .addbot {

        }

        // .deposit {
        //     display: none;
        // }

        // .history {
        //     display: none;
        // }
    }
}



@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        width: 100%;
        background-color: #fff;
        height: 100%;
        transform: translateX(100%);
        transition: all .3s ease;
        z-index: 1000;
        

        .wrapper {
            position: static;
            width: 100%;
            height: 100%;
            border: none;
            padding-bottom: 130px;
            .logo {
                display: none;
            }

            .close {
                padding-top: 20px;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 40px;
                height: 40px;
            }
        }

        .toggle {
            display: none;
        }

        .action {
            justify-content:unset;
            

            .balance {
                display: flex;
                justify-content: flex-start;
                width: 100%;

                .action_item {
                    justify-content: flex-start;
                }
            }

            .addbot {
                display: none;
            }
        }

        
    }

    .sidebar.open {
        transform: translateX(0);
    }
}