.wrapper {
    padding: 15px;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 122px;
            max-height: 30px;
            width: 100%;
            height: 100%;
            object-fit: contain;
            display: flex;
        }
    }

    .title {
        text-align: center;

    }
}