.wrapper {

    .label {
        margin-bottom: 8px;
        font-size: 14px;
        line-height: 19px;
        display: flex;
        align-items: center;

        .hint {
            line-height: 15px;
            font-size: 15px;
            margin-left: 8px;
            color: var(--yellow);
            transition: all .3s ease;
            
            &:hover {
                color: var(--blue);
            }
        }
    }

    .input.password {
        padding-right: 40px;
    }

    input {
        padding: 10px 15px;
        border-radius: 8px;
        border: 1px solid #E0E0E0;
        display: block;
        width: 100%;
        background-color: #fff;
        transition: all .3s ease;
        box-shadow: 0 0 0 0 transparent;
        font-size: 14px;
        line-height: 19px;

        

        &:focus {
            // box-shadow: 0 0 0 3px rgba(#72B7EF, .3);
            border-color: var(--blue);
            &::placeholder {
                opacity: 0;
            }
        }

        &:read-only {
            
        }

        &:disabled {
            pointer-events: none;
            touch-action: none;
            opacity: .7;
            background-color: #eaeaea;
            border: 1px solid #E0E0E0 !important;
            user-select: none;
        }
    }

    .error_text {
        color: var(--red);
        margin-top: 4px;
        font-size: 12px;
        line-height: 15px;
    }

    .main.icon {
        input {
            // padding-right: 30px;
        }
    }

    .main {
        position: relative;

        .visible {
            position: absolute;
            top: calc(50% - 14px);
            right: 10px;
        }

        .icon {
            // border: 1px solid red;
            // color: #E0E0E0;
            display: flex;
            align-items: center;
            justify-content: center;
            // width: 30px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            padding: 0 5px;
            
        }
    }
}

.wrapper.error {
    
    input {
        
        border-color: var(--red);

        &:focus {
            // box-shadow: 0 0 0 3px rgba(#EF4444, .3);
            border-color: var(--red);
        }
    }

}

// .wrapper.disabled {

//     .input {
        
//     }
// }