.wrapper {
    max-width: 400px;
    width: 100%;
    

    .link {
        font-size: 16px;
    }
    .action {
        
        .head {
            margin-bottom: 18px;
        }

        .list {
            display: flex;
            align-items: center;
            margin-left: -5px;
            margin-right: -5px;

            .item {
                display: block;
                flex: 0 0 auto;
                margin: 0 5px;
                font-size: 16px;
                img {
                    max-width: 30px;
                    max-height: 30px;
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    display: flex;
                }
            }
        }
        
        
    }
}