* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif !important;
    outline: none;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button, input {
    border: none;
    background-color: unset;
    font: inherit;
}

button {
    cursor: pointer;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: var(--black);
    font-weight: 400;
}

.wrapper {
    // overflow-x: hidden;
    width: 100%;
    display: flex;

    
}

main {
    
}

.heading_1 {
    font-size: 22px;
    line-height: 30px;
    font-weight: 500;
}

@media (max-width: 620px) {
    
    .heading_1 {
        font-size: 20px;
        line-height: 27px;
    }
}

.heading_1.bold {
    font-weight: 700;
}

.heading_4 {
    font-size: 18px;
    line-height: 25px;
    font-weight: 500;
}

.heading_4.bold {
    font-weight: 700;
}

.def-link {
    color: var(--blue);
    transition: all .3s ease;
    cursor: pointer;
    
    &:hover {
        color: var(--yellow);
    }
}

#nprogress .bar {
	background:	 var(--yellow) !important;
	z-index: 100;
	height: 4px !important;
}