.wrapper {
    max-width: 340px;
    width: 100%;

    .ex {

        .part {

            .head {
                margin-bottom: 15px;
                font-weight: 500;
                font-size: 18px;
                line-height: 25px;
            }
            
            .body {

            }
        }
    }
}

@media (max-width: 620px) {
    .wrapper {
        max-width: unset;
    }
}