.wrapper {
    position: relative;
    
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .part {
            display: flex;
            align-items: center;

            .item {
                margin: 0 5px;
            }
        }
    }
}