.wrapper {

    .input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        visibility: hidden;
        pointer-events: none;
        touch-action: none;
    }

    .label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        cursor: pointer;

        &:hover {
            .labelText {
                color: var(--blue);
            }
        }

        .labelText {
            margin-right: 10px;
            transition: all .3s ease;
        }

        .switch {
            width: 58px;
            height: 28px;
            border-radius: 999px;
            background-color: var(--blue);
            transition: all .3s ease;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 3px;
            position: relative;


            .el {
                position: absolute;
                top: calc(50% - 11px);
                left: 3px;
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: #fff;
                border-radius: 100%;
                transition: all .3s ease;
            }

            .item {
                font-size: 16px;
                line-height: 16px;
                transition: all .3s ease;
                position: relative;
                z-index: 3;
                width: 22px;
                height: 22px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .item.light {
                color: var(--blue);
            }
            .item.dark {
                color: #fff;
            }
            

        }
    }

    .input:checked ~ .label {

        .switch {

            .el {
                transform: translateX(30px);
            }

            .item.dark {
                color: var(--blue)
            }
            .item.light {
                color: #fff;
            }
        }
    }
}