.custom-scroll {
    overflow: hidden;
    overflow-y: scroll !important; 

    &::-webkit-scrollbar {
        width: 2px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--blue);
        // border-radius: 15px;
    }
}

.custom-scroll-horizontal {
    overflow: hidden;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 4px;
        background-color: transparent;
    }
    &::-webkit-scrollbar-thumb {
        background-color: var(--blue);
        // border-radius: 15px;
    }
}

.custom-scroll.custom-scroll-lg {
    &::-webkit-scrollbar {
        width: 4px;
       
    }
}