.ant-popover { 
     max-width: 300px;
    .ant-popover-arrow {
        &:after {
            background-color: var(--blue);
        }
    }
    .ant-popover-content {

        .ant-popover-inner {
            background-color: var(--blue);
        }
    }
}