.ant-select {
    width: 100%;
    font-size: 16px;
    
    .ant-select-selector {
        height: 41px !important;
        border: 1px solid #E0E0E0 !important;
        transition: all .3s ease;
        box-shadow: 0 0 0 0 transparent;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: none !important;
        
        &:hover {
            border-color: #E0E0E0 !important;
        }

        .ant-select-selection-item {
            display: flex;
            align-items: center;
        }
    }
}

.ant-select.ant-select-focused {
    .ant-select-selector {
        // border: none;
        //box-shadow: 0 0 0 3px rgba(#72B7EF, .3) !important;
        border-color: var(--blue) !important;

    }
}

.ant-select.noborder {
    .ant-select-selector {
        border: none !important;
    }
}

.ant-select.ant-select-focused.noborder {
    .ant-select-selector {
        box-shadow: none !important;
    }
}


// dropdown
.ant-select-dropdown {
    width: auto !important;
}