.table {
    width: 100%;
    border: 1px solid #F4F4F4;
    border-radius: 8px;
    font-size: 14px;
    line-height: 19px;
    min-height: calc(100vh - 130px);
    display: flex;
    flex-direction: column;

    .table-top {
        padding: 15px;
        border-bottom: 1px solid #F4F4F4;
    }

    .table-main {
        flex: 1 0 auto;
        overflow-x: auto;
        
        .table-wrapper {
            
            width: 100%;


            .table-row {

                &__item {
                    padding: 15px;
                    // border-bottom: 1px solid #F4F4F4;
                }
            }

            .table-headrow {

                &__item {

                    &_in {
                        display: flex;
                        align-items: center;
                        // justify-content: center;
                        text-align: left;
                        white-space: nowrap;
                        
                    }
                    &_label {
                        font-weight: 400;
                        color: #9094A6;
                    }
                    &_action {
                        margin-left: 4px;
                        font-size: 12px;
                        line-height: 12px;
                        display: flex;
                        align-items: center;
                        
                        &_btn {
                            transition: all .3s ease;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            line-height: 100%;
                        }
                    }
                }
            }

            .table-bodyrow {
                
                // &:last-child {
                //     .table-bodyrow__item {
                //         border-bottom: 1px solid #F4F4F4;   
                //     }
                // }
                &__item {
                    border-top: 1px solid #F4F4F4;
                    border-bottom: 1px solid #F4F4F4;   
                    &_in {
                        display: flex;
                        align-items: center;
                        white-space: nowrap;
                    }

                    &_icon {
                        margin-right: 4px;
                        width: 16px;
                        height: 16px;
                        flex: 0 0 auto;

                        img {
                            max-width: 16px;
                            max-height: 16px;
                            width: 100%;
                            height: 100%;
                            object-fit: contain;
                            display: flex;
                        }
                    }

                    &_label {

                    }

                    &_toggle {
                        margin-right: 10px;
                        display: none;
                    }
                }

                &__item.profit {
                    color: var(--green);
                }

                &__item.loss {
                    color: var(--red)
                }

                &__item.activation {

                    .activation-label {

                    }
                    .activation-label.wait {

                    }

                    .activation-action {
                        margin-left: 15px;

                        &__item {
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                }
            }

            .table-dropdown {
                display: none;
                &__body {
                    // border: 1px solid red;
                    // display: block;

                    &_in {
                        transition: all .3s ease;
                        overflow: hidden;
                    }

                    &_table {
                        padding: 0 10px;

                        &_item {
                            display: flex;
                            align-items: center;
                            justify-content: space-between;
                            padding: 5px 0;

                            &_name {
                                width: 48%;
                                color: #9094A6;
                                display: flex;
                                align-items: center;

                                &_hint {
                                    margin-left: 5px;
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    line-height: 100%;
                                }
                            }

                            &_value {
                                width: 48%;
                                text-align: right;
                            }
                        }
                    }

                }
            }
            
        }
    }

    .table-bottom {
        padding: 15px;
        // flex: 1 0 auto;
        display: flex;
        align-items: flex-end;
    }
}

@media (max-width: 768px) {

    .table {

        .table-top {
            padding: 10px;
        }
        .table-main {

            
            .table-wrapper {

                .table-row {

                    &__item {
                        padding: 10px;
                    }
                }
                .table-bodyrow {

                    
                    .table-bodyrow__item.table-bodyrow__item--nonmain {
                        display: none;
                    }

                    .table-bodyrow__item {
                        .table-bodyrow__item_toggle {
                            display: block;
                        }

                        &_in {
                            .activation-label {
                                display: none;
                            }
                            .activation-action {
                                margin: 0;
                            }
                        }
                    }
                }

                .table-headrow {
                    .table-headrow__item.table-headrow__item--nonmain {
                        display: none;
                    }
                }

                .table-dropdown {
                    display: table-row;
                }
            }
        }

        
    }
}



