.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    color: var(--black);
    transition: all .3s ease;
    padding: 5px;
    border-radius: 5px;
    
    // &:hover {
    //     background-color: #F4F4F4;
    // }
}

.wrapper.round {
    border-radius: 100%;
}