

.wrapper {
    padding: 20px;
    border-radius: 26px;
    transition: all .3s ease;

    &:hover {
        background-color: rgba(#6F91EE, .1);
        // box-shadow: 0 0 10px 10px rgba(#6F91EE, .3);
        transform: translateY(-10px);
    }

    .body {
        
        .ex {
            display: flex;
            align-items: center;
            justify-content: flex-end;

            .badge {
                color: var(--green);
                display: flex;
                align-items: center;
                justify-content: center;
                min-height: 27px;
                text-transform: uppercase;
                text-align: center;
                font-size: 10px;
                line-height: 14px;
                font-weight: 700;
                background-color: #fff;
                padding: 7px 20px;
                border-radius: 13.5px;
            }
        }

        .price {
            font-size: 17px;
            line-height: 23px;
            span {
                font-size: 36px;
                line-height: 46px;
                font-weight: 700;
            }
        }

        .title {
            font-size: 28px;
            line-height: 38px;
            font-weight: 700;
        }

        .descr {

            .part {
                font-size: 15px;
                line-height: 20px;

                .head {
                    margin-bottom: 15px;
                }

                .list {

                    .item {
                        margin-bottom: 10px;
                        
                        &:last-child {
                            margin-bottom: 0;
                        }

                        .link {
                            display: flex;
                            align-items: center;
                            color: inherit;

                            &:hover {
                                .label {
                                    color: var(--yellow);
                                }
                            }

                            .icon {
                                width: 20px;
                                height: 20px;
                                flex: 0 0 auto;
                                margin-right: 10px;

                                img {
                                    max-width: 20px;
                                    max-height: 20px;
                                    width: 100%;
                                    height: 100%;
                                    object-fit: contain;
                                    display: flex;
                                }
                            }
    
                            .label {
                                transition: all .3s ease;
                            }
                        }
                        
                    }
                }
            }
        }
    }
}

.wrapper.top {
    background-color: var(--blue);
    color: #fff;
    background-image: url('../../../../public/assets/top-billing-bg.svg');
    background-repeat: no-repeat;
    background-position: right top;
    // background-size: contain;

    
}